.character {
  /* Fill the available container height */
  height: 500px;
  position: fixed;
  top: 180px;
  left: 57%;
}

@media (max-width: 600px) {
  .character {
    height: 470px;
    position: absolute;
    top: -390px; 
    left: 40px;
  }
}
