.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  background-color: hsl(180deg, 25%, 92%);
}

.maxWidthWrapper {
}

.header {
  padding-bottom: 64px;
  max-width: 65%;
  position: relative;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}


.controlColumn {
  max-width: 50%;
  position: relative;
}

@media (max-width: 600px) {
  .characterWrapper {
    padding-bottom: 50px;
    position: relative;
  }
  
  .controlColumn {
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    top: 200px;
    max-width: 100vw;
    margin-bottom: 200px;
    z-index: 1;
    margin-left: -32px;
    margin-right: -32px;
  }

  .controlColumn > div:first-child {
    margin-left: 32px;
  }

  .controlColumn > div:last-child {
    margin-right: 32px;
  }

  .controlColumn::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
}
