.footer {
  position: relative;
  padding: 64px;
  background: hsl(0deg, 0%, 5%);
  color: white;
  text-align: center;
}

.footerLink:link, .footerLink:visited {
  color: white;
  transition: all 0.3s;
}

.footerLink:hover, .footerLink:active {
  text-decoration: none;
}
